body {
  background-color: #1e0522;
  background-image: url("./statics/marble.jpg");
}

p {
  color: #ffdf30;
}

a.topnav-link {
  text-decoration: underline;
  color: #ffdf30;
}

a.topnav-link:hover {
  color: #ffff50;
}

.card.project {
  border: 1px solid #845483;
  background-color: #592561;
}

.card-divider.project {
  background-color: #845483;
  color: #ffdf30;
}

.card-section.project {
  background-color: #945F9A;
  color: #ffdf30;
}
